extends layout

block content
  .container
    h4
      b Application flow diagram - Demo
    .jumbotron
      | Application Create
      br


block pagescript
  script(src='/javascripts/appflow_appCreate.js')
