extends layout

block content
  .container
    h4
      b Application flow diagram - Demo
    .jumbotron
      | This is a demo for Application flow in Origination Manager.
      br
      #flowDiagramDivId(style='width: 1000px; height: 500px; border: 1px solid black;')
  div(style="visibility: hidden")#appNodesData
    !{JSON.stringify(appflownodes)}
  div(style="visibility: hidden")#appStatuses
    !{JSON.stringify(appstatuses)}
block pagescript
  script(src='/javascripts/appflow_index.js')
